.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0; /* 전체 배경색 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #333; /* 그래프의 두께 설정 */
}

.circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#2ecc71 0% 50%, #f0f0f0 50% 100%); /* 하드웨어: 녹색(#2ecc71), 소프트웨어: 배경색 */
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.hardware {
    position: absolute;
    top: 40%; /* 하드웨어 텍스트의 위치 (상단으로부터의 거리) */
    left: 5%; /* 하드웨어 텍스트의 위치 (왼쪽으로부터의 거리) */
    color: #2ecc71; /* 하드웨어 텍스트의 색상 */
}
.hardware>circle2 {
    top: 5%;
}



.software {
    position: absolute;
    top: 40%; /* 소프트웨어 텍스트의 위치 (하단으로부터의 거리) */
    left: 55%;
    color: #ffffff; /* 소프트웨어 텍스트의 색상 */
}

