* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #333;
    color: white;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem    
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
header> .Home {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 5px;
    color: white;
}
header>ul {
    display: flex;
}
header>ul>li {
    list-style-type: none;
    margin-left: 1.5rem;
}
header>ul>li>a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 5px;
    color: white;
}
header>ul>li>a:hover {
    border-bottom: 5px solid
        gray;
}

@media screen and (max-width:500px)
{
    header {
        flex-direction: column;
    }
}

section {
    padding: 0 1rem;
    text-align: center;
    
}
section>p {
    margin-bottom: 1rem;
    color: white;
}
section>p:first-child {
    font-size: 2rem;
    font-weight: 900;
}
section>p:last-of-type {
    font-size: 1.3rem;
    font-weight: 500;
}
section>a {
    display: block;
    border: 4px solid black;
    width: 250px;
    font-size: 1.3rem;
    font-weight: 600;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
}
section>a:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
}
