* {
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
  background-color: #333D51;
  color: white;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}  
.container {
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1.2rem 0;
}
header>p {
  font-size: 1.5rem;
  font-weight: 700;
}
header>ul {
  display: flex;
}
header>ul>li {
  list-style-type: none;
  margin-left: 1.5rem;
} 
header>ul>li>a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 5px;
  color: white;
} 
/*header>ul>li:first-child>a {
  border-bottom: 5px solid white;
}*/
header>ul>li>a:hover {
  border-bottom: 5px solid gray;
}
@media screen and (max-width: 500px){
  header {
    flex-direction: column;
  }
}
section {
  padding: 0 3rem;
  text-align: center;
}
section>p:first-child {
  font-size: 2rem;
  font-weight: 900;
}
section>p:last-of-type {
  font-size: 1.3rem;
  font-weight: 500;
} 
/*section>a {
  display: block;
  border: 1px solid black;
  width: 150px;
  font-size: 1.3rem;
  font-weight: 600;
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
  text-decoration: none;
  background-color: white;
  color: black;
}*/




section>a {
    background-color: white; /* 기본 배경색 */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; /* 트랜지션 효과 지속 시간 */
    border-radius: 20px;
}

/* 버튼에 호버 효과 추가 */
section>a:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
}

section>a:active {
    background-color: #3e8e41; /* 누를 때 배경색 변경 */
    box-shadow: 0 5px #666; /* 그림자 효과 추가 */
}





footer {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: gray;
}
footer>a {
  text-decoration: none;
  color: white;
}














