.menu {
    display: flex; /* 가로로 배치합니다. */
    list-style: none; /* 리스트의 기본 마커를 제거합니다. */
}

.menu li {
    margin-right: 20px; /* 각 메뉴 아이템 사이의 간격을 설정합니다. */
}

.menu li a {
    text-decoration: none;
}