.body {
    margin: 0;
    
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: column; /* 메뉴 아래에 이미지를 배치하기 위해 컬럼 방향으로 설정 */
    align-items: center; /* 수직 방향으로 가운데 정렬 */
    background-color: #263343;
    padding: 150px 0; /* 상단과 하단에 패딩 추가 */
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 15px;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    color: black; /* 텍스트 색상을 검정색으로 변경 */
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(15deg, yellow, orange); /* 그라디언트 효과 추가 */
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
}

.navbar__icons li {
    padding: 8px 12px;
}

/* 이미지를 중앙에 배치 */
.image-container {
    display: flex;
    justify-content: center; /* 수평으로 중앙 정렬 */
    margin-top: 20px; /* 이미지 위 여백 조절 */
}

.image {
    max-width: 100%; /* 이미지가 너무 커서 화면을 벗어나는 것을 방지 */
    height: px; /* 이미지의 세로 비율을 유지하면서 가로 너비에 맞게 조절 */
}

.use_font {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: rgb(233, 151, 57);
}
