@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Nanum+Myeongjo&family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:800&subset=korean');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500&display=swap');


#container {
    width: 1200px;
    height: 20px auto;
    margin: 0 auto;
}

#header {
    width: 1200px;
    height: 150px;
    /* background-color: aqua; */
}

#header h1{
    padding: 23px 0 ;
	font-family: 'Dancing Script', cursive;
	font-weight: 100;
	font-size: 3em;
	line-height: 32px;
	letter-spacing: -0.2px;
	color: #333;
}

#header a{
    text-decoration: none;
    color: black;
}
#nav{
    width: 1200px;
    height: 40px;
    /* background-color: khaki; */
    border: solid RGB(204, 204, 204, 80%);
    border-width: 0px 0px 1px 0px;
} 

#nav > ul > li{
    margin: 10px;
    padding: 5px;
}

#nav ul {list-style: none;}

#nav ul li {
    display: inline-block;
    font-size: 30px;
    margin: 0 20px;
    font-size: 18px;
    color: #ccc;
}

#nav > ul > li > a{
    margin-left: -50px;
    margin-right: 50PX;
    padding: 0px;
}

#nav ul li a:hover{
    border: solid;
    border-width: 0px 0px 5px 0px;
    padding: 0px 0px 7px 0px;
}

#search{
    margin: 30px 5px 0px 0px;
    float: right;
    width: 35px;
    height: 35px;
    border: solid 1px #ccc;
    border-radius: 70%;
    background-image: url(image/search_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#circle{
    margin: 30px 20px 0px 10px;
    float: right;
    width: 35px;
    height: 35px;
    border: none #ccc;
    border-radius: 70%;
    background-image: url(image/user.jpg);
    background-position: center;
    background-size: 100% 40px;
}

#contents {
    width: 900px;
    height: 1200px;
    /* background-color: beige; */
    float: left;
}

#contents > table{
    width: 700px;
    height: 580px;
    margin: 0px;
    padding: 0px;
}

#contents > p{
    margin-top: 80px;
    font-weight: bold;
    font-size: medium;
}

#contents table h4{
    color: black;
    padding: 10px;
}

#contents table  tr  td  p{
    padding: 10px;
    margin-top: -30px;
    color: #ccc;
}

#contents > ul {
    list-style: none;
    display: inline-block;
    margin-left: 190px;
}

#contents > ul > li {
    display: inline-block;
    padding: 10px 10px 0px 10px;
}

.sidebar {
    width: 300px;
    height: 1200px;
    /* background-color: azure; */
    float: right;
    border: solid;
    box-sizing: border-box;
    border-width: 0px 0px 0px 1px;
    border-color: rgba(204, 204, 204, 80%);
    letter-spacing: 1%;
}

#category{
    display: inline-block;
    width: 300px;
    height: 580px;
    /* background-color: bisque; */
}

#category > ul{
    font-weight: bold;
}

#category > ul > ul{
    margin: 20px 0px 0px -40px; /* 3번째 마진 조절 해야함*/
    font-weight: 500;
    list-style: none;
    
}

#category > ul a{
    color: black;
}

#category > ul a:hover{
    font-weight: bold;
}


#category > ul > ul > li{
    box-sizing: border-box;
    border: solid #ccc;
    border-width: 0px 0px 0px 3px;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 5px 5px 5px 10px;
    font-size: small;
}

#category > ul > ul> li > a{
    color: rgb(140, 140, 140);
    letter-spacing: 0px;
}

#reple{
    display: inline-block;
    width: 300px;
    height: 170px;
    /* background-color: red; */
}

#reple > ul{
    list-style: none;
    font-size: small;
    font-weight: bold;
}

#reple > ul > a{
    color: black;
}

#reple > ul > li{
    font-weight: lighter;
    margin-top: 10px;
}

#reple > ul > li > a{
    color: rgb(140, 140, 140);
    letter-spacing: -1px;
}

#calinder{
    display: inline-block;
    width: 300px;
    height: 200px;
    /* background-color: ; */
}

#calinder > P{
    margin-left: 40px;
}

#calinder-title {
    text-align: center;
}

#calinder > table{
    width:220px;
    height: 130px;
    margin-left: 40px;
}

#calinder > table > tbody > tr > td{
    text-align: center;
    font-size: small;
    padding: 5px;
}

#footer {
    box-sizing: border-box;
    border: solid ;
    padding: 60px;
    width: 1200px;
    height: 180px;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(204, 204, 204, 80%);    
    clear: right;
    font-weight: bold;
    font-size: small;
    color: rgb(77, 74, 74);
}

#footer  img{
    width: 25px;
    height: 25px;
    margin: 20px 0px;
}

a{
    text-decoration: none;
}

img{
    box-sizing: border-box;
    width: 210px;
    height: 180px;
    overflow: hidden;
    display: block;
    margin-left: 10px;
}

p{
    font-weight: bold;
    font-size: small;
}
